@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:ital@1&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Text colors */
.text-primary {
  color: #28a745;
}

.bg-light {
  color: #333;
  background: #fff;
}
.bg-dark {
  color: #fff;
  background: #333;
}
.bg-green {
  background: #28a745;
  color: #fff;
}
.bg-blue {
  background: #0284d0;
  color: #fff;
}
/* Main Styling */
html,body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  padding-bottom: 10px;
}

p {
  margin: 10px 0;
}
/* Utility Classes */

.btn {
  display:inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  border:none;
  margin-top: 20px;
}

.btn-1 {
  border: #fff 1px solid;
}

.btn-2 {
  width: 100%;
}
.btn i {
  padding-right: 5px;
}

.btn-hover:hover {
  opacity: 0.9;
}
.font {
  font-size: 40px;
}
/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar .title {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Home */

#home .hero {
  background: url('../image_resources/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  padding-top: 260px;
  text-align: center;
  color: #fff;
}

.showcase h1 {
  font-size: 55px;
}

/* Main - About */
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  text-align: center;
}

.box h2 {
  font-size: 18px;
  padding-top: 20px;
}

.box p {
  padding: 0 10px;
}

.box i {
  display: block;
  background-color: #28a745;
  color: #fff;
  border-radius: 50%;
  padding: 15px;
  margin: 0 220px;
}

.solutions {
  display: flex;  
  align-items: stretch;
}

.solutions img {
  width: 50vw;
  height: 70vh;
}
.solutions .content {
  padding: 120px 30px;
  text-align: left;
  width: 50vw;
  height: 70vh;
}
/* Business Cases */

#cases {
  padding: 40px 30px;
  
}
.top {
  text-align: center;
  color: #333;
  padding-bottom: 30px;
}
.cases-photos {
  display: flex;
}
#cases-photos {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cases-photos img {
  width: 23vw;
  height: 35vh;
}
#cases-photos img:hover {
  opacity: 0.6;
  cursor: pointer;
}
/* Main - Blog*/

.blog {
  display: flex;
}

img {
  width: 50vw;
  height: 80vh;
}
.content {
  padding: 140px 30px;
  text-align: left;
  width: 50vw;
  height: 80vh;
}

/* Main - Professionals */

#professionals {
  padding: 40px 30px;
}

.professionals-photos {
  display: flex;
  
}
#photo {
  align-items: stretch;
  justify-content: space-between;
  padding-top: 20px;
  text-align: center;
}
#photo img {
  border-radius: 50%;
  height: 80%;
  width: 95%;
}

/* Main - Contact */

#contact {
  display: flex;
  height: 550px;
}

#contact img {
  height: 550px;
}
.contact-group {
  padding: 120px 30px;
  background-color: rgb(238, 235, 235);
  flex-grow: 1;
}

.form-group {
  margin-bottom: 20px; 
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
}
.form-group input:focus {
  outline-color: #28a745;
}

/* Blog Page */

/* Top */

#home .hero-top {
  background: url('./image_resources/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
  padding-top: 70px;
  text-align: center;
  color: #fff;
}
.hero-top h2 {
  font-size: 55px;
}

/* Blog Posts */
.posted {
  display: flex;
  align-items: center;
}
.posted p {
  padding-left: 5px;
}

/* Blog Post One Page */

#blog-post {
  padding: 40px 30px;
}

.blog-title {
  border-bottom: 1px #ccc solid;
}
#blog-img {
  padding: 0 320px;
  margin-bottom: 20px;
}
#blog-img img {
 border-radius: 50%;
 padding: 0 250px;
  
 height: 220px;
}
/* Footer */

#footer {
  height: 200px;
  text-align: center;
  padding: 70px 0;
  
}

.flex-container {
  display: flex;
  justify-content: center;

}

.midias i {
  padding: 0 15px;
}

.midias i:hover {
  color: #28a745;
}
